# Don't pick up user's individual changes to their database setups.
config/database.yml

# Logs are useless, really.
*.log
*/*.log

# Don't track the private SSL certificate for Push Notifications
apn_cert.pem
